{% extends 'base.html' %}

    
    {% block content %}
        <h1 class="title">Добре дошли!</h1>
        <br><br>
        <div class="text" align="left">
            <p>Тук вие ще можете да потърсите какви продукти, спрямо вашия бюджет, са в наличност в определени онлайн магазини. 
                Ако те са в наличност, вие можете да кликнете на линка на дадената стока, който ще ви пренасочи към страницата ѝ в магазина.</p>
        </div>
        <br><br><br>
        <hr>
        <h1 class="title">Приятно пазаруване!</h1>
        <hr>
    {% endblock content %}
        